* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgb(119, 116, 70);
	border-radius: 5px;
}

:root {
	--grid-cols: 1;
	--grid-rows: 1;
}

.container {
	display: grid;
	width: 40%;
	height: 70%;
	overflow: var(--grid-cols);
	grid-template-columns: repeat(var(--grid-cols), 1fr);
	grid-template-rows: repeat(var(--grid-rows), 1fr);
	border: 2px solid rgb(197, 190, 91);
	box-shadow: 1px 2px 3px rgb(248, 232, 88);
	border-radius: 5px;
}

.grid-item {
	padding: 1px;
	border: 0.1px solid rgb(167, 154, 84);
	text-align: center;
}

.buttons {
	display: flex;
}

button {
	border: none;
	text-align: center;
	padding: 15px 15px;
	border-radius: 5px;
	border-width: medium;
	font-size: 15px;
	margin: 5px 3px;
	background-color: rgb(197, 190, 91);
}

.reset {
	transition-duration: 0.5s;
}

.reset:hover {
	background-color: rgb(24, 24, 104);
	color: rgb(193, 255, 68);
}

.multi {
	transition-duration: 0.5s;
}

.multi:hover {
	background-color: rgb(101, 24, 104);
	color: rgb(201, 255, 93);
}

.resize {
	transition-duration: 0.5s;
}

.resize:hover {
	background-color: rgb(2, 110, 78);
	color: rgb(241, 220, 26);
}

h2 {
	font-family: "Langar", cursive;
}
